.containerrr{ 
    width: 99%;
    display:grid;
    grid-template-columns: 345px 345px 345px ;
    column-gap: 5%;
    row-gap: 100px;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-top: 100px;
    
}

.divElement{
    width:100%;
}

@media(max-width:1190px){
    .containerrr{
        grid-template-columns: 330px 330px 330px ;
        column-gap: 4%;
        margin-left: 0.4%;
    }
}
@media(max-width:1120px){
    .containerrr{
        grid-template-columns: 310px 310px 310px ;
        column-gap: 4%;
    }
}
@media(max-width:1050px){
    .containerrr{
        grid-template-columns: 300px 300px 300px ;
        column-gap: 4%;
    }
}
@media(max-width:1000px){
    .containerrr{
        grid-template-columns: 280px 280px 280px ;
        column-gap: 4%;
    }
}
@media(max-width:940px){
    .containerrr{
        grid-template-columns: 270px 270px 270px ;
        column-gap: 2.5%;
    }
}
@media(max-width:870px){
    .containerrr{
        grid-template-columns: 345px 345px ;
        column-gap: 10%;
    }
}
@media(max-width:800px){
    .containerrr{
        grid-template-columns: 330px 330px ;
        column-gap: 10%;
    }
}
@media(max-width:770px){
    .containerrr{
        grid-template-columns: 310px 310px ;
        column-gap: 8%;
    }
}
@media(max-width:700px){
    .containerrr{
        grid-template-columns: 300px 300px ;
        column-gap: 7%;
    }
}
@media(max-width:670px){
    .containerrr{
        grid-template-columns: 280px 280px ;
        column-gap: 6%;
    }
}
@media(max-width:615px){
    .containerrr{
        grid-template-columns: 260px 260px ;
        column-gap: 4%;
    }
}
@media(max-width:570px){
    .containerrr{
        grid-template-columns: 345px ;
        margin-left: 0.5%;
    }
    
}
@media(max-width:455px){
    .containerrr{
        grid-template-columns: 345px ;
        margin-left: 0.25%;
    }
    
}
@media(max-width:390px){
    .containerrr{
        grid-template-columns: 330px ;
        margin-left: 0.25%;
    }
    
}

@media(max-width:350px){
    .containerrr{
        grid-template-columns: 310px ;
        margin-left: 0.25%;
    }
    
}
@media(max-width:330px){
    .containerrr{
        grid-template-columns: 290px ;
        margin-left: 0.25%;
    }
    
}
@media(max-width:310px){
    .containerrr{
        grid-template-columns: 280px ;
        margin-left: 0.25%;
    }
    
}
@media(max-width:300px){
    .containerrr{
        grid-template-columns: 270px ;
        margin-left: 0.25%;
    }
    
}
@media(max-width:290px){
    .containerrr{
        grid-template-columns: 260px ;
        margin-left: 0.25%;
    }
    
}