@import url(//db.onlinewebfonts.com/c/1fed4454352f201d52b65ca5480afb2d?family=Playlist);
* {
    box-sizing: border-box;
}
body{
    overflow-x: hidden ;
    padding: 0;
    margin: 0;
    font-family: 'Cardo', serif;
}

/* partie-1 */
.box-1 {
    height: 230px;
    position: relative;
    text-align: center;
    overflow: hidden;
 
    display: flex;
    justify-content: center;
  
}
.box-1 img {
    display: block;
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
    opacity: 0.75;
    transition: transform 0.7s ease;
}
.box-1:hover img {
    transform: scale(1.1);
  }
.recipeimg{
    width: 300px;
    height: auto;
}
  

  /* products */
.container-product {
    background-image: url('./pic4.png');
    padding-bottom: 100px;
    position: relative;
}
.box-2 {
    background-color:  #ffffff ;
    max-width: 80%;
    height: auto;
    margin: auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
    text-align: center;
    font-size: 20px;
    padding-bottom: 100px;
    padding-top: 180px;
    display: flex;
  flex-direction: column;
  align-items: center;
    justify-content: center;
    font-family: 'Comic Neue', cursive;
}
.bio{
    width:500px;
    height: 260px;
    transform:translateX(-60%);
}
.container-product hr{
    height: 5px;
    width: 90%;
    background-color: rgb(109, 107, 107);
    border-radius: 10px;
}

.recipe-p{
    display: flex;
    text-align:center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
    padding: 50px;
    border-radius: 15px;
    background-color: rgb(247, 239, 229);
    margin-bottom: 70px;
    width: 65%;
}
.recipe-p ul {
    list-style: none;
  }

li {
    padding: 5px;
}

.desc{
    padding: auto;
   margin-left: 20px;
}

.btn{
    margin-left: 30px;
    background-color:rgb(95, 91, 91);
    border: none;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    font-weight:600;
    width: 30%;
    margin-bottom: 12px;
    height: 28px;
    color: rgb(255, 255, 255);
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301); 
    transition-duration: 0.4s;
}

.btn:hover{
    background-color: rgb(97, 95, 95);
    color: white;
    box-shadow: 0px 0px 12px rgba(57, 55, 55, 0.559);
}

.profil-pic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    padding-top: 20px;
    display: block;
    position: absolute;
    top:230px;
    z-index: 100;
    left: 50%;
    transform:translate(-150%,-30%) ;
    background-image: url('./eyaa.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.301);
        
  }

