/* Navbar container */
.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
    justify-content: center;
    align-items: center;
  }
  
  /* Navbar links */
  .lien {
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
  }
  
  /* Search input */
  .search {
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  /* Search results container */
  .divv {
    overflow-y: scroll;
    max-height: 200px;
  }
  
  /* Search results list */
  .divv ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  /* Search results list items */
  .divv ul li {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  /* Profile photo */
  .navbar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  /* Logout button */
  .navbar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
  }
  
  /* Profile name */
  .navbar p {
    margin: 0;
  }
  
  /* Login link */
  .navbar .lien:last-child {
    background-color: rgb(76, 106, 61);
    color: #fff;
    padding: 10px 20px;
  }
  

.avant{
    display: flex;
    gap:20%;
    margin-right:30%;
}

.divv li{
    text-decoration: none;
    
}
a.lien{
    padding: 10px 20px;
}

.divv li{
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-right:200px;

}
.photoo{
  margin-top: 10px;
}

.nom{
  margin-top: 15px;
  text-decoration: none;
  margin-left:-80px;
  color: black;
}
.navbar{
  font-size: larger;
  padding-right: 10%;
}
.logout{
  font-size: larger;
}
